<mat-card>
    <mat-card-title>
        Create Tomato
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="create()" #tomatoComponent="ngForm" class="form-container">
            <mat-form-field>
                <input matInput placeholder="Name" required
                       [(ngModel)]="tomato.name" name="name">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Color" required
                       [(ngModel)]="tomato.color" name="color">
            </mat-form-field>

            <button mat-raised-button type="submit" color="primary">Create</button>
        </form>
    </mat-card-content>
</mat-card>
