
.form-container {
    display: flex;
    flex-direction: column;
}

.form-container .mat-form-field {
    width: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

.mat-card {
    margin-bottom: 1em;
}
