<h1>My Tomatoes</h1>

<mat-card *ngFor="let tomato of tomatoes">
    <mat-card-title>
        <a routerLink="/tomato/{{ tomato.id }}">
            {{ tomato.name }}
        </a>
    </mat-card-title>
    <mat-card-content>
        ID: #{{ tomato.id }} <br>
        Color: {{ tomato.color }}
    </mat-card-content>
</mat-card>
