<div *ngIf="tomato">

    <mat-card>
        <mat-card-title>
            <a routerLink="/tomato/{{ tomato.id }}">
                {{ tomato.name }}
            </a>
        </mat-card-title>
        <mat-card-content>
            <span class="badge">#{{ tomato.id }}</span> {{ tomato.name }} ({{ tomato.color }})
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>
            Edit Tomato
        </mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="save()" #tomatoComponent="ngForm" class="form-container">
                <mat-form-field>
                    <input matInput placeholder="Name" required
                           [(ngModel)]="tomato.name" name="name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Color" required
                           [(ngModel)]="tomato.color" name="color">
                </mat-form-field>

                <button mat-raised-button type="submit" color="primary">Save</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
