<section class="mat-typography">
    <div class="main-container">

        <nav>
            <a routerLink="/dashboard" routerLinkActive="active">
                <span>Dashboard</span>
            </a>
            <a routerLink="/create" routerLinkActive="active">
                <span>Create</span>
            </a>
        </nav>

        <router-outlet></router-outlet>

    </div>
</section>
