
.main-container {
    width: 90%;
    max-width: 960px;
    margin: 2em auto;
}

nav {
    margin-bottom: 2em;
}

nav a {
    color: #0d47a1;
    font-size: 16px;
    display: inline-block;
    margin: 0 5px;
    padding: 8px 20px;
    background: rgb(238, 238, 238);
    border-radius: 4px;
    text-decoration: none;
}

nav a.active {
    background: #3f4ebc;
    color: #ffffff;
}