<mat-card>
    <mat-card-title>
        Authorize
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="login()" #loginComponent="ngForm" class="form-container">
            <mat-form-field>
                <input matInput placeholder="Email" required
                       [(ngModel)]="model.email" name="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password"
                       required [(ngModel)]="model.password" name="password">
            </mat-form-field>

            <button mat-raised-button type="submit" color="primary">Login</button>
        </form>
    </mat-card-content>
</mat-card>
