
.form-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    width: 100%;
    max-width: 400px;
}

.form-container .mat-form-field {
    width: 100%;
    display: block;
}

h2 {
    margin: 2em 0 .5em 0;
}

button {
    margin-top: 1em;
}